model-cache/
shared-data/audios/*
!shared-data/audios/.gitkeep
shared-data/alignments/*
!shared-data/alignments/.gitkeep
shared-data/transcripts/*
!shared-data/transcripts/.gitkeep
__pycache__/
*.pyc
.env
.git